<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098982443506-o5kv0cne6oe436hdh49pu0al18ls8hv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098982443506-o5kv0cne6oe436hdh49pu0al18ls8hv5</string>
	<key>API_KEY</key>
	<string>AIzaSyCnz8zhRUqYbagM2E56It7tsbmMcuh6Re0</string>
	<key>GCM_SENDER_ID</key>
	<string>1098982443506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fileidea.randomchat</string>
	<key>PROJECT_ID</key>
	<string>random-chat-34fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>random-chat-34fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098982443506:ios:1e0a141f665d1fc537036b</string>
</dict>
</plist>